
# ignore all . files and . folders
#.*

# ignore all links
*.lnk

# ignore .ssh folder
*.ssh/

# Ingore stuff in testi folder
Test*/
playground*/

# no VSCode workspaces
*.code-workspace

# no gitignores
#.gitignore	